<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<header>
    <div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/categorias">Categorias</a></li>
                <li><a href="/saiba-mais">Saiba Mais</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <div th:replace="searchButton"></div>
</header>

<main>
    <section class="content">
        <h2>Categorias:</h2>
        <table>
            <thead class="table-header">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th class="small-column" >Editar</th>
                <th class="small-column" >Deletar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.getIdCategory()}"></td>
                <td th:text="${category.getCategoryName()}"></td>
                <td class="small-column"><a th:href="@{'/products/' + ${category.getIdCategory()}}"><img class="edit-button" src="/img/pencil.png" alt=""></a></td>
                <td class="small-column" >
                    <form th:action="@{'/products/' + ${category.getIdCategory()}}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button class="trash" type="submit"><img class="delete-button" src="/img/trash.png" alt=""></button>
                    </form>
                </td>
            </tr>
            </tbody>

        </table>
    </section>
</main>

<div th:replace="footer :: footer"></div>
</body>

</html>
