<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Produto</title>
</head>
<body>
<h1>Detalhes do Produto</h1>
<form action="#" th:action="@{'/products/' + ${produto.getIdProduct()}}" method="post">

    <div>
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" th:value="${produto.getName()}">
    </div>
    <div>
        <label for="price">Preço:</label>
        <input type="number" id="price" name="price" step="0.01" th:value="${produto.getPrice()}">
    </div>
    <div>
        <label for="description">Descrição:</label>
        <textarea id="description" name="description" th:text="${produto.getDescription()}"></textarea>
    </div>
    <div>
        <label for="category">Categoria:</label>
        <select id="category" name="categoryId">
            <option value="">Selecione uma categoria...</option>
            <option th:each="category : ${categories}"
                    th:value="${category.idCategory}"
                    th:text="${category.categoryName}"
                    th:selected="${category.idCategory == produto.category.idCategory}">
            </option>
        </select><br>
    </div>
    <button type="submit">Salvar</button>
</form>
</body>
</html>
